:root {
  --white: white;
  --black: black;
}

body {
  color: #333;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.hero {
  width: 100%;
  height: 100vh;
  position: relative;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.header {
  z-index: 10;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  position: absolute;
  top: 0;
}

.header-third {
  justify-content: center;
  width: 33%;
  display: flex;
}

.header-third.align-right {
  justify-content: flex-end;
  align-items: center;
}

.button-wrapper {
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #000;
  padding: 8px 12px;
  font-family: Open Sans, sans-serif;
  font-size: 15px;
  text-decoration: none;
  display: block;
}

.hero-text {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.heading {
  color: #fff;
  font-family: Open Sans, sans-serif;
  font-size: 79px;
  font-weight: 300;
}

.text-span {
  font-weight: 700;
}

.map {
  width: 100%;
  height: 100vh;
  margin-bottom: -5px;
}

.image-2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.filters {
  background-color: #214f73;
  padding: 22px;
  padding-bottom: 100px;
}

.filters-title {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: sticky;
  top: 0;
  background-color: #214f73;
}

.update-results-button, .reset-filters-button {
  background-color: #214F73;
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Open Sans, sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  margin-top: 28px;
  border: 1px solid #fff;
  cursor: pointer;
  border-radius: 4px;
}

.update-results-button:hover, .reset-filters-button:hover {
  background-color: #fff;
  color: #214F73;
}

.heading-2 {
  color: #fff;
  text-transform: uppercase;
  font-family: Open Sans, sans-serif;
}

.tag-wrapper {
  border-top: 1px solid #fff;
  align-items: center;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  display: flex;
}

.heading-3 {
  color: rgba(255, 255, 255, .6);
  text-transform: uppercase;
  font-family: Open Sans, sans-serif;
}

.heading-3.tag-title {
  width: 200px;
  margin-right: 20px;
}

.heading-3.tag-text {
  color: #a8b9c8;
}

.tag {
  border: 1px solid #fff;
  border-radius: 10px;
  margin-right: 20px;
  padding: 5px 10px;
  cursor: pointer;
}

.tag-text {
  cursor: pointer;
}

.tag:hover {
  color: #214f73;
  background-color: #fff;
  cursor: pointer;
}

.tag:hover .heading-3{
  color: #214F73;
}

.heading-4 {
  color: #fff;
  font-family: Open Sans, sans-serif;
  font-size: 80px;
  font-weight: 300;
  line-height: 80px;
  cursor: pointer;
}

.text-span-2 {
  font-weight: 700;
}

.slide {
  width: 100%;
}

.image-3, .image-4, .image-5, .image-6 {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.image-7 {
  width: 100%;
}

.code-map {
  display: none;
}

.resorts-picker {
  display: flex;
  overflow: scroll;
}

.resort-wrapper {
  padding: 22px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
  width: 100%;
}

.resort-wrapper.selected {
  display: flex;
}

.left-resort-details {
  width: 29%;
  background-color: #214F73;
  padding: 10px;
}

.left-resort-details .resort-image {
  width: 100%;
  height: auto;
}

.right-resort-details {
  width: 70%;
  font-family: Open Sans, sans-serif;
}

.resort-description {
  font-family: Open Sans, sans-serif;
  color: #fff;
}

.resort-description h2 {
  color: #fff;
  font-family: Open Sans, sans-serif;
}

.resort-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.resort-image {
  aspect-ratio: 5/3;
}

.resort-image {
  aspect-ratio: 5 / 3;
  overflow: hidden;
  width: 49%;
  margin-bottom: 10px;
}

.resort-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.resort-images img{
  width: 100%;
  margin-bottom: 10px;
  height: 100%;
  object-fit: cover;
}

.resort-ideal-for {
  display: flex;
  justify-content: space-between;
}

.ideal-card {
  background-color: #316F90;
  width: 32.3%;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.ideal-card h3 {
  margin-top: 10px;
  font-size: 13px;
  line-height: 1;
  color: #fff;
}

.tabs {
  display: flex;
  font-family: Open Sans, sans-serif;
  font-size: 22px;
  padding: 0 0 40px 0;
  color: #fff;
  cursor: pointer;
}

.tabs > div {
  color: #fff;
}

.tabs div {
  margin-right: 10px;
}

.ideal-for-title {
  color: #fff;
  font-family: Open Sans, sans-serif;
}

.tag.selected {
  background-color: #fff;
}

.tag.selected .heading-3 {
  color: #214F73;
}


/* external css: flickity.css */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body { font-family: sans-serif; }

.gallery {
  background: #EEE;
}

.gallery-cell {
  width: 85%;
  height: auto;
  margin-right: 10px;
  counter-increment: gallery-cell;
  padding-bottom: 20px;
  opacity: 0.2;
}

.is-selected {
  opacity: 1;
}

/* cell number */
/* .gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
} */

.gallery .flickity-page-dots {
  bottom: 20px !important;
}

.resort-selector {
  display: none;
}

.resort-selector.selected {
  display: block;
}

.gallery {
  display: none;
}

.gallery.active {
  display: block;
}
.map.hide {
  display: none;
}

.gallery {
  background-color: #133c5d;
}

.active-tab {
  border-bottom: 3px solid #52BBF9;
  padding-bottom: 10px;
}

.tab {
  font-size: 1.2vw;
}

.tab:hover {
  border-bottom: 3px solid #52BBF9;
  padding-bottom: 10px;
}

.carousel-cell {
  width: 28%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

.carousel-cell.is-selected {
  background: #ED2;
}

/* cell number */
/* .carousel-island .carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(carousel-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
} */

.carousel-island {
  padding-bottom: 40px;
  margin-bottom: 40px;
}

.flickity-page-dots .dot{
  background-color: #fff;
}

.carousel-splash.is-fullscreen .carousel-cell {
  height: 100%;
}

.carousel-splash .carousel-cell-image {
  display: block;
  max-height: 100%;
}

.intro-slideshow img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* relative to nearest positioned ancestor and not nearest block-level ancestor - alternatively: width: 100vw; */
  height: 100%; /* relative to nearest positioned ancestor and not nearest block-level ancestor - alternatively: height: 100vh; */ 
  object-fit: cover;
  z-index:-1;
  /* filter: brightness(50%); */ /* 0% black, 100% original image, values > 100% are allowed for brighter than original image. */
  /* display: none; */
  opacity: 0;
  transition: opacity 0.75s ease-in-out;
}

.filters-title {
  margin-top: 40px;
}

.gallery {
  padding-bottom: 20px;
  margin-bottom: 0;
}

.resort-description-list {
  padding: 0;
  margin: 0;
  padding-left: 20px;
}

.resort-description h2 {
  font-size: 26px;
}

.resort-description-list li {
  margin-bottom: 5px;
}

.resort-images {
  display: none;
}

.resort-images.active {
  display: flex;
  justify-content: space-between;
}

.flex-buttons {
  display: flex;
  gap: 20px;
}

.carousel-cell .island-name {
  font-family: Open Sans, sans-serif;
  font-size: 24px;
  color: #fff;
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 10;
}

.carousel-island .carousel-cell img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.carousel-island .carousel-cell {
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #000;
}

.resorts-list {
  display: none;
}

.Book-now-button {
  background-color: #000;
  text-align: center;
  padding: 10px;
  color: #fff;
  font-family: Open Sans, sans-serif;
  margin-top: 10px;
  font-size: 18px;
  display: block;
  text-decoration: none;
}